@page
@model SacramentPlanner.Pages.Planner.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SacramentPlanner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SacramentPlan.Presiding" class="control-label"></label>
                <input asp-for="SacramentPlan.Presiding" class="form-control" />
                <span asp-validation-for="SacramentPlan.Presiding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentPlan.Conducting" class="control-label"></label>
                <input asp-for="SacramentPlan.Conducting" class="form-control" />
                <span asp-validation-for="SacramentPlan.Conducting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentPlan.Date" class="control-label"></label>
                <input asp-for="SacramentPlan.Date" class="form-control" />
                <span asp-validation-for="SacramentPlan.Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SacramentPlan.OpeningPrayer" class="control-label"></label>
                <input asp-for="SacramentPlan.OpeningPrayer" class="form-control" />
                <span asp-validation-for="SacramentPlan.OpeningPrayer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SacramentPlan.OpeningHymn.Name" class="control-label" name="openingHymnName"></label>
                <input asp-for="SacramentPlan.OpeningHymn.Name" class="form-control" />
                <span asp-validation-for="SacramentPlan.OpeningHymn.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SacramentPlan.SacramentHymn.Name" class="control-label" name="sacramentHymnName"></label>
                <input asp-for="SacramentPlan.SacramentHymn.Name" class="form-control" />
                <span asp-validation-for="SacramentPlan.SacramentHymn.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SacramentPlan.SacramentHymn.Name" class="control-label" name="sacramentHymnName"></label>
                <input asp-for="SacramentPlan.SacramentHymn.Name" class="form-control" />
                <span asp-validation-for="SacramentPlan.SacramentHymn.Name" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="SacramentPlan.ClosingPrayer" class="control-label"></label>
                <input asp-for="SacramentPlan.ClosingPrayer" class="form-control" />
                <span asp-validation-for="SacramentPlan.ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
