@page
@model SacramentPlanner.Pages.Planner.EditModel

@{
    ViewData["Title"] = "Edit";
}

<script>

    var x = 0;
    function addSpeaker() {
        console.log("something");
        var div = document.createElement("div");
        div.classList.add("singleSpeaker");
        var label = document.createElement("label");
        var topicLabel = document.createElement("label");

        var input = document.createElement("input");
        var topic = document.createElement("input");

        var removeBtn = document.createElement("button");
        input.name = "speakerName" + x;
        topic.name = "speakerTopic" + x;

        removeBtn.type = "button";
        removeBtn.textContent = "X";
        label.textContent = "Enter a speaker: ";
        topicLabel.textContent = "Enter the speaker's topic: ";

        div.appendChild(label);
        div.appendChild(document.createElement("br"));
        div.appendChild(input);
        div.appendChild(document.createElement("br"));
        div.appendChild(topicLabel);
        div.appendChild(topic);

        div.appendChild(removeBtn);
        x++;
        removeBtn.addEventListener('click', function (e) {
            document.getElementById("speakerDiv").removeChild(e.path[1]);
        });
        document.getElementById("speakerDiv").appendChild(div);
    }
 
</script>


<h1>Edit</h1>

<h4>SacramentPlanner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SacramentPlan.SacramentPlannerId" />
            <div class="form-group">
                <label asp-for="SacramentPlan.Presiding" class="control-label"></label>
                <input asp-for="SacramentPlan.Presiding" class="form-control" />
                <span asp-validation-for="SacramentPlan.Presiding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentPlan.Conducting" class="control-label"></label>
                <input asp-for="SacramentPlan.Conducting" class="form-control" />
                <span asp-validation-for="SacramentPlan.Conducting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentPlan.Date" class="control-label"></label>
                <input asp-for="SacramentPlan.Date" class="form-control" />
                <span asp-validation-for="SacramentPlan.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentPlan.OpeningPrayer" class="control-label">Invocation</label>
                <input asp-for="SacramentPlan.OpeningPrayer" class="form-control" />
                <span asp-validation-for="SacramentPlan.OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentPlan.OpeningHymn" class="control-label">Opening Hymn</label>
                <input asp-for="SacramentPlan.OpeningHymn" class="form-control" />
                <span asp-validation-for="SacramentPlan.OpeningHymn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SacramentPlan.SacramentHymn" class="control-label">Sacrament Hymn</label>
                <input asp-for="SacramentPlan.SacramentHymn" class="form-control" />
                <span asp-validation-for="SacramentPlan.SacramentHymn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SacramentPlan.IntermediateHymn" class="control-label">Intermediate Hymn</label>
                <input asp-for="SacramentPlan.IntermediateHymn" class="form-control" />
                <span asp-validation-for="SacramentPlan.IntermediateHymn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SacramentPlan.ClosingHymn" class="control-label">Closing Hymn</label>
                <input asp-for="SacramentPlan.ClosingHymn" class="form-control" />
                <span asp-validation-for="SacramentPlan.ClosingHymn" class="text-danger"></span>
            </div>
            @foreach (var speaker in Model.Speakers)
            {

                <div class="form-group">
                    <label asp-for="@speaker" class="control-label">Speaker: </label>
                    <input asp-for="@speaker" class="form-control" />
                </div>
                //value="@Html.DisplayFor(modelItem => speaker.Name)"
                <div class="form-group">
                    <label class="control-label">Topic: </label>
                    <input class="form-control" value="@Html.DisplayFor(modelItem => speaker.Topic)" />
                </div>
                //i++;

            }

            <button type="button" id="addSpeakerBtn" onclick="addSpeaker()">Add Speaker</button>
            <div class="form-group" id="speakerDiv">

            </div>
























            <div class="form-group">
                <label asp-for="SacramentPlan.ClosingPrayer" class="control-label">Benediction</label>
                <input asp-for="SacramentPlan.ClosingPrayer" class="form-control" />
                <span asp-validation-for="SacramentPlan.ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
